<div class="container">
    <div style="margin-top: 20px">
        <button (click)="showNodes()" md-raised-button color="primary">Show Nodes</button>
    </div>
    <md-table #table [dataSource]="executions" style="margin-top: 20px">
        <ng-container mdColumnDef="goToButton">
            <md-header-cell *mdHeaderCellDef> Ref. </md-header-cell>
            <button (click)="showResults(ex.Id)" md-raised-button>Go to</button>
        </ng-container>

        <ng-container mdColumnDef="Status">
            <md-header-cell *mdHeaderCellDef> Status </md-header-cell>
            <md-cell mdCellDef="let ex"> {{ex.Status}} </md-cell>
        </ng-container>

        <ng-container mdColumnDef="Id">
            <md-header-cell *mdHeaderCellDef> ID </md-header-cell>
            <md-cell> {{ex.Id}} </md-cell>
        </ng-container>

    </md-table>
</div>


<!--<tr *ngFor="let ex of executions">-->
    <!--<td>-->
        <!--<button class="btn btn-basic" (click)="showResults(ex.Id)">Go to</button>-->
    <!--</td>-->
    <!--<td>-->
        <!--<span class="{{statuses.get(ex.Status)}}"> {{ex.Status}}</span>-->
    <!--</td>-->
    <!--<td>{{ex.Id}}</td>-->
    <!--<td>{{convertToDate(ex.Created)}}</td>-->
    <!--<td>-->
        <!--<button class="btn btn-success" (click)="startExecution(ex.Id)">Start</button>-->
    <!--</td>-->
    <!--<td>-->
        <!--<button class="btn btn-info" (click)="stopExecution(ex.Id)">Stop</button>-->
    <!--</td>-->
<!--</tr>-->
