<div class="container">
    <div style="margin-top: 20px">
        <button class="btn btn-block btn-info" (click)="showNodes()">Show Nodes</button>
    </div>
    <table class="table table-condensed" style="margin-top: 20px">
        <thead>
        <tr>
            <th></th>
            <th>Status</th>
            <th>ID</th>
            <th>Date</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ex of executions">
            <td>
                <button class="btn btn-basic" (click)="showResults(ex.ID)">Go to</button>
            </td>
            <td>
                <span class="{{changeStatusOnClick(ex.Status)}}"> {{ex.Status ? "ON" : "OFF"}}</span>
            </td>
            <td>{{ex.ID}}</td>
            <td>{{ex.Created}}</td>
            <td>
                <button class="btn btn-success" (click)="startExecution(ex.ID)">Start</button>
            </td>
            <td>
                <button class="btn btn-warning" (click)="stopExecution(ex.ID)">Stop</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
